@model Blog

@{
    ViewData["Title"] = "افزودن";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h1>ایجاد بلوگ جدید</h1>
<br />
<form method="post" asp-action="BlogAdd">
    <label>عنوان</label>
    <input type="text" asp-for="BlogTitle" class="form-control" />
    <span asp-validation-for="BlogTitle" class="text-danger"></span>
    <br />
    <label>تصویر</label>
    <input type="text" asp-for="ImageName" class="form-control" />
    <br />
    <label>تصویر کوچک</label>
    <input type="text" asp-for="BlogThumbnailName" class="form-control" />
    <span asp-validation-for="BlogThumbnailName" class="text-danger"></span>
    <br />
    <label>دسته بندی</label>
    <select class="form-control" asp-for="CategoryId" asp-items="(List<SelectListItem>)@ViewBag.cv"></select>
    <span asp-validation-for="CategoryId" class="text-danger"></span>
    <br />
    <label>توضیحات</label>
    <textarea asp-for="BlogContent" rows="7" class="form-control"></textarea>
    <span asp-validation-for="BlogContent" class="text-danger"></span>
    <br />
    <input type="submit" class="btn btn-info" value="ثبت" />
</form>

@section Scripts {

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

