@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="ibox "dir="rtl">
    <div class="ibox-title ">
        <h5 class="pull-right" style="margin-right:35px">گروه بندی </h5>
        <a class="btn btn-outline-primary pull-left" style="margin-top:-8px;" asp-action="AddCategory">افزودن</a>

    </div>
    
    <div class="ibox-content" >

        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th>#</th>
                    <th>نام</th>
                    <th>فعال</th>
                    <th>غیر فعال</th>
                    <th>ویرایش</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CategoryId</td>
                        <td>@item.CategoryName</td>
                        <td><a href="#" class="btn btn-outline-danger">فعال</a></td>
                        <td><a href="#" class="btn btn-outline-warning">غیر فعال</a></td>
                        <td><a href="#" class="btn btn-outline-success">ویرایش</a></td>

                    </tr>
                }

            </tbody>
        </table>
        <div class="row">
            <div class="col-5">
            </div>
            <div class="col-4">
                @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))

            </div>
        </div>
    </div>
</div>