<div class="row" >
    <div class="col-lg-6">
        <div class="widget navy-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs text-right">پنل ادمین</h1>

                <h3 class="font-bold no-margins">
                    
                </h3>
                <h4 style="text-align: right" >در این پنل از برنامه دستورات ادمین  روی یک  انجام می شود. در صورت نیاز به کمک  می توانید از نوار ابزار سمت چپ به منو کمک رفته و با نحوه کار با بخش مورد نظر را بخوانید</h4>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart1" style="padding: 0px; position: relative;"><canvas class="flot-base" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 561.5px; height: 100px;" width="561" height="100"></canvas><canvas class="flot-overlay" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 561.5px; height: 100px;" width="561" height="100"></canvas></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget lazur-bg no-padding">
            <div class="p-m" style="text-align: right">
                <h1 class="m-xs">آخرین بلوگ </h1>

                <h3 class="font-bold no-margins">
                    @ViewData["V2"]
                </h3>
                <small>همه بلوگ ها</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart2" style="padding: 0px; position: relative;"><canvas class="flot-base" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 265.75px; height: 100px;" width="265" height="100"></canvas><canvas class="flot-overlay" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 265.75px; height: 100px;" width="265" height="100"></canvas></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget yellw-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">$ 50,992</h1>

                <h3 class="font-bold no-margins">
                    Half-year revenue margin
                </h3>
                <small>Sales marketing.</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart3" style="padding: 0px; position: relative;"><canvas class="flot-base" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 265.75px; height: 100px;" width="265" height="100"></canvas><canvas class="flot-overlay" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 265.75px; height: 100px;" width="265" height="100"></canvas></div>
            </div>
        </div>
    </div>
</div>
