@model EntityLayer.Concrete.Writer
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<section dir="rtl" class="main-content-w3layouts-agileits">
    <div class="container">
        <h3 class="tittle">ورود به سایت</h3>
        <div class="row inner-sec login_view">
            <div class="login p-5 bg-light mx-auto mw-100 text-right">
                <form method="post">

                    <div class="form-group">
                        <label for="exampleInputEmail1 mb-2">ایمیل</label>
                        <input type="email" asp-for="WriterMail" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" required="">
                        <span asp-validation-for="WriterMail"></span>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1 mb-2">کلمه عبور</label>
                        <input type="password" asp-for="WriterPassword" class="form-control" id="exampleInputPassword1" placeholder="" required="">
                        <span asp-validation-for="WriterPassword"></span>

                    </div>
                    <div class="form-check mb-2">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label style="padding-right:20px" class="form-check-label" for="exampleCheck1">مرا به خاطر بسپار</label>
                    </div>

                    <button type="submit" class="btn btn-primary submit mb-4">ورود</button>
                    <p><a>ثبت نام نکرده اید ؟</a></p>
                </form>
                @*<a asp-controller="Login" asp-action="GoogleLogin" class="btn btn-danger submit mb-4"><i class="fab fa-google-plus-g"></i> | Google ile Giriş Yap</a>*@

            </div>
        </div>
    </div>
</section>

