<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                <div class="nav-profile-image">
                    <img src="~/writer/assets/images/faces/face1.jpg" alt="profile">
                    <span class="login-status online"></span>
                    <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column">
                    <span class="font-weight-bold mb-2">@User.Identity.Name</span>
                    <span class="text-secondary text-small">برنامه نویسی</span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
            </a>
        </li>
        <li class="nav-item rtl">
            <a class="nav-link" href="/Dashboard/index">
                <span class="menu-title">پنل کاربری</span>
                <i class=" mdi mdi-home menu-icon "></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="~/writer/pages/icons/mdi.html">
                <span class="menu-title">مشخصات</span>
                <i class="mdi mdi-pen menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/writer/pages/forms/basic_elements.html">
                <span class="menu-title">بلوگ ها</span>
                <i class="mdi mdi-blogger menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/writer/pages/charts/chartjs.html">
                <span class="menu-title">بلوگ جدید</span>
                <i class="mdi mdi-open-in-new menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/writer/pages/tables/basic-table.html">
                <span class="menu-title">پیام ها</span>
                <i class="mdi mdi-message menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/writer/pages/tables/basic-table.html">
                <span class="menu-title">برو به صفحه اصلی</span>
                <i class="mdi mdi-car menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/writer/WriterEditProfile">
                <span class="menu-title">تنظیمات</span>
                <i class="mdi mdi-settings menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/writer/pages/tables/basic-table.html">
                <span class="menu-title">خروج</span>
                <i class="mdi mdi-logout menu-icon"></i>
            </a>
        </li>

    </ul>
</nav>